@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      sm
600 - 900px:    md
900 - 1200px:   lg
1800px + :      xl

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (max-width: 47.93em) {
      @content;
    } //767px
  }
  @if $breakpoint == md {
    @media only screen and (max-width: 61.93em) {
      @content;
    } //991px
  }
  @if $breakpoint == lg {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == xl {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
